# NUMPY

In [1]:
import numpy
numpy.__version__

'1.15.4'

In [2]:
import pandas
pandas.__version__

'0.23.4'

In [3]:
import matplotlib
matplotlib.__version__

'2.2.3'

In [4]:
numpy.array([23,67,89])

array([23, 67, 89])

In [6]:
print(numpy.array([23,67,89]))
print([23,67,89])

[23 67 89]
[23, 67, 89]

In [7]:
import numpy as np

In [8]:
a = np.array([78,89,90])
a

array([78, 89, 90])

In [9]:
# Create an array with tuple
a1 = np.array((67,78,89))
a1

array([67, 78, 89])

In [10]:
a2 = np.array(range(5,20,2))
a2

array([ 5,  7,  9, 11, 13, 15, 17, 19])

In [11]:
a3 = np.arange(5,20,2)
a3

array([ 5,  7,  9, 11, 13, 15, 17, 19])

In [12]:
type(a),type(a1),type(a2),type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [13]:
a4 = np.arange(5,10,2.5)
a4

array([5. , 7.5])

In [14]:
a5 = np.linspace(4,78,8)
a5

array([ 4.        , 14.57142857, 25.14285714, 35.71428571, 46.28571429,
       56.85714286, 67.42857143, 78.        ])

In [15]:
a6 = np.linspace(1,10,10)
a6

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [16]:
a7 = np.array([[1,2],[3,4]])
a7

array([[1, 2],
       [3, 4]])

In [25]:
a8 = np.random.rand(3,5)
a8

array([[0.36156829, 0.68314385, 0.34786665, 0.94282022, 0.51930049],
       [0.98154649, 0.19466541, 0.56559458, 0.89560037, 0.91683075],
       [0.36914625, 0.16446894, 0.80587139, 0.9659583 , 0.78667253]])

In [28]:
a9 = np.random.random((3,5))
a9

array([[0.24150033, 0.94000702, 0.52738398, 0.62441564, 0.53502873],
       [0.30687225, 0.38263426, 0.35252049, 0.78853575, 0.32537133],
       [0.96837434, 0.62874173, 0.84465663, 0.60203363, 0.03184929]])

Normal Distribution

In [29]:
a10 = np.random.randn(5)
a10

array([-0.58628828,  0.06569084,  0.61973562,  1.02617804,  0.82000984])

Random integer generation<br>
np.random.randint(low,high,shape)

In [30]:
np.random.randint(4,10,4)

array([7, 7, 4, 6])

In [34]:
a11 = np.random.randint(5,100,(4,4))
a11

array([[47, 34, 21, 58],
       [42, 79, 74, 86],
       [83, 49, 32, 89],
       [17, 28, 87, 81]])

Slicing,Subsetting and Indexing<br>
**For 1d Array**
- arr[i] i is index of an elemnt<br>
- arr[i:] from index i to the end<br>
- arr[i:j] from index i to j-1<br>
- arr[i:j:s] from index i to j-1 with step s<br>
- arr[[1,4,5]] returns array with indices 1,4,5<br>

In [45]:
print(a1[0])
print(a5[0])
print(a5[3:])
print(a5[3:7])
print(a5[3:8:2])
print(a5[[1,6,5]]) # mention the indices as a list
print(a5)

67
4.0
[35.71428571 46.28571429 56.85714286 67.42857143 78.        ]
[35.71428571 46.28571429 56.85714286 67.42857143]
[35.71428571 56.85714286 78.        ]
[14.57142857 67.42857143 56.85714286]
[ 4.         14.57142857 25.14285714 35.71428571 46.28571429 56.85714286
 67.42857143 78.        ]

In [47]:
print(a11)

[[47 34 21 58]
 [42 79 74 86]
 [83 49 32 89]
 [17 28 87 81]]

In [50]:
print(a11[0])
print('-------------')
print(a11[1:4])
print('-------------')
print(a11[2:])

[47 34 21 58]
-------------
[[42 79 74 86]
 [83 49 32 89]
 [17 28 87 81]]
-------------
[[83 49 32 89]
 [17 28 87 81]]

In [61]:
#3rd row 4th element
print(a11[2][3])
print(a11[2:][1])
print(a11[1][3])

89
[17 28 87 81]
86

In [59]:
print(a11[[1,2,3],[3,1,0]]) #[(1,3)(2,1)(3,0)]

[86 49 17]

### Fancy Indexing or Boolean array as index

In [62]:
print(a1)

[67 78 89]

In [63]:
a1[[True,False,True]]

array([67, 89])

In [64]:
a11 > 50

array([[False, False, False,  True],
       [False,  True,  True,  True],
       [ True, False, False,  True],
       [False, False,  True,  True]])

In [65]:
a11[a11>50]

array([58, 79, 74, 86, 83, 89, 87, 81])

### Properties of an array

In [67]:
print(a11.dtype) # datatype
print(a11.size)  # no of elements
print(a11.ndim) # dimensions
print(a11.itemsize) # each itemsize in bytes
print(a11.shape) # Shape of the array as a tuple
print(a11.shape[0])

int32
16
2
4
(4, 4)
4

### Basic Math operations

In [69]:
print(a1,a)

[67 78 89] [78 89 90]

In [70]:
a1 + a

array([145, 167, 179])

In [71]:
a12 = np.array([1,1,1])
a12

array([1, 1, 1])

In [72]:
a1+a12

array([68, 79, 90])

In [73]:
a1 * a12

array([67, 78, 89])

In [75]:
a1 - a12

array([66, 77, 88])

### Broadcasting
Two rules
- in that dimension same value
- value is one<br>
Example<br>
(1,5) (5,5)<br>
(2,3,1)(1,3,5)<br>

In [76]:
a1 * 5

array([335, 390, 445])

In [77]:
a1 + a2

ValueError: operands could not be broadcast together with shapes (3,) (8,)

In [82]:
b1 = np.random.randint(1,100,(2,3,2))
b2 =  np.random.randint(1,100,(2,1,2))
print(b1)
print('--------')
print(b2)
print('--------')
print(b1+b2)

[[[68  1]
  [ 9 59]
  [97 63]]

 [[35 76]
  [33 37]
  [18 85]]]
--------
[[[69 48]]

 [[ 6 17]]]
--------
[[[137  49]
  [ 78 107]
  [166 111]]

 [[ 41  93]
  [ 39  54]
  [ 24 102]]]

In [83]:
b1

array([[[68,  1],
        [ 9, 59],
        [97, 63]],

       [[35, 76],
        [33, 37],
        [18, 85]]])

In [84]:
import math
math.log(5)

1.6094379124341003

In [85]:
math.log(b1)

TypeError: only size-1 arrays can be converted to Python scalars

In [86]:
np.log(b1)

array([[[4.21950771, 0.        ],
        [2.19722458, 4.07753744],
        [4.57471098, 4.14313473]],

       [[3.55534806, 4.33073334],
        [3.49650756, 3.61091791],
        [2.89037176, 4.44265126]]])

In [87]:
np.add(a,a1)

array([145, 167, 179])

In [88]:
a+a1

array([145, 167, 179])

### Vectorized Function creation

In [89]:
def nmin(a,b):
    if a<b:
        return a
    else:
        return b

In [90]:
nmin(4,89)

4

In [91]:
anmin = np.vectorize(nmin)
anmin(a,a1)

array([67, 78, 89])

In [92]:
print(a,a1)

[78 89 90] [67 78 89]

### Array Manipulation

In [94]:
a11

array([[47, 34, 21, 58],
       [42, 79, 74, 86],
       [83, 49, 32, 89],
       [17, 28, 87, 81]])

In [95]:
a11.reshape(8,2)

array([[47, 34],
       [21, 58],
       [42, 79],
       [74, 86],
       [83, 49],
       [32, 89],
       [17, 28],
       [87, 81]])

In [96]:
a11.reshape(4,2,2)

array([[[47, 34],
        [21, 58]],

       [[42, 79],
        [74, 86]],

       [[83, 49],
        [32, 89]],

       [[17, 28],
        [87, 81]]])

In [97]:
a11.reshape(2,-1)

array([[47, 34, 21, 58, 42, 79, 74, 86],
       [83, 49, 32, 89, 17, 28, 87, 81]])

In [98]:
a11.reshape(-1)

array([47, 34, 21, 58, 42, 79, 74, 86, 83, 49, 32, 89, 17, 28, 87, 81])

In [99]:
a11.reshape(16)

array([47, 34, 21, 58, 42, 79, 74, 86, 83, 49, 32, 89, 17, 28, 87, 81])

In [101]:
a11.reshape(16,-1)

array([[47],
       [34],
       [21],
       [58],
       [42],
       [79],
       [74],
       [86],
       [83],
       [49],
       [32],
       [89],
       [17],
       [28],
       [87],
       [81]])

In [102]:
a11.reshape(16,1)

array([[47],
       [34],
       [21],
       [58],
       [42],
       [79],
       [74],
       [86],
       [83],
       [49],
       [32],
       [89],
       [17],
       [28],
       [87],
       [81]])

In [100]:
a11.flatten()

array([47, 34, 21, 58, 42, 79, 74, 86, 83, 49, 32, 89, 17, 28, 87, 81])

In [103]:
np.eye(2,2)

array([[1., 0.],
       [0., 1.]])

In [109]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [107]:
np.ones((6,2),dtype=np.int8)

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]], dtype=int8)

In [108]:
np.ones((6,2),dtype=bool)

array([[ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True],
       [ True,  True]])

In [105]:
np.full((8,9),5)

array([[5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5, 5, 5, 5, 5]])

In [110]:
a11

array([[47, 34, 21, 58],
       [42, 79, 74, 86],
       [83, 49, 32, 89],
       [17, 28, 87, 81]])

In [111]:
a11[0] =6

In [112]:
a11

array([[ 6,  6,  6,  6],
       [42, 79, 74, 86],
       [83, 49, 32, 89],
       [17, 28, 87, 81]])

### Stacking

In [113]:
print(a,a1)

[78 89 90] [67 78 89]

In [116]:
np.vstack([a,a1])

array([[78, 89, 90],
       [67, 78, 89]])

In [117]:
np.hstack([a,a1])

array([78, 89, 90, 67, 78, 89])

In [119]:
v1 = a.reshape(3,-1)
v2 = a1.reshape(3,-1)
print(v1)
print(v2)

[[78]
 [89]
 [90]]
[[67]
 [78]
 [89]]

In [121]:
np.hstack([v1,v2])

array([[78, 67],
       [89, 78],
       [90, 89]])

### Numpy as building block

In [123]:
import matplotlib.pyplot as plt
img = plt.imread("ml.png")
type(img)

numpy.ndarray

In [124]:
img.shape

(205, 245, 3)

In [128]:
img[0,0,:3]

array([1., 1., 1.], dtype=float32)

In [129]:
import sklearn.datasets

In [130]:
from sklearn.datasets import load_iris
data = load_iris()

In [131]:
data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [132]:
print(data['DESCR'])

Iris Plants Database
====================

Notes
-----
Data Set Characteristics:
    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica
    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML iris datasets.
http://archive.ics.uci.edu/ml/datasets/Iris

The famous Iris database, first used by Sir R.A Fisher

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

References
----------
   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [133]:
type(data['data'])

numpy.ndarray

In [134]:
data['data'].shape

(150, 4)

In [135]:
data['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

# PANDAS

Topics
- Series -->1d Array
- DataFrame --> 2d Array
- Panel --> 3d Array

In [136]:
import pandas as pd
pd.Series([12,45,78,34])

0    12
1    45
2    78
3    34
dtype: int64

In [138]:
s = pd.Series([12,45,78,34],['one',
                'two','three','four'])
print(s)

one      12
two      45
three    78
four     34
dtype: int64

In [139]:
print(s[0],s['one'])

12 12

In [140]:
s1 = pd.Series((3,4,5,6))
s1

0    3
1    4
2    5
3    6
dtype: int64

In [141]:
s1.index = ['a','b','c','d']
s1

a    3
b    4
c    5
d    6
dtype: int64

In [142]:
d = {'python':9,'R':8,'Go':8,'PHP':5}
pd.Series(d)

python    9
R         8
Go        8
PHP       5
dtype: int64

In [143]:
temp = pd.Series([34,32,33,30,29.5])
temp

0    34.0
1    32.0
2    33.0
3    30.0
4    29.5
dtype: float64

In [144]:
pd.date_range("2019-10-15","2019-10-19")

DatetimeIndex(['2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18',
               '2019-10-19'],
              dtype='datetime64[ns]', freq='D')

In [146]:
temp.index = pd.date_range("2019-10-15",
                           periods = 5)
temp

2019-10-15    34.0
2019-10-16    32.0
2019-10-17    33.0
2019-10-18    30.0
2019-10-19    29.5
Freq: D, dtype: float64

DataFrame

In [150]:
d1 = {'name':['hari','raju','giri','Raj'],
     'marks':[78,55,67,44],
     'attendance':[80,55,92,70]}
df = pd.DataFrame(d1)
df

   name  marks  attendance
0  hari     78          80
1  raju     55          55
2  giri     67          92
3   Raj     44          70

In [154]:
a = np.array([['hari',78,80],
             ['raju',55,55],
             ['giri',67,92],
             ['Raj',44,70]])
df1 = pd.DataFrame(a,columns=['name',
            'marks','attendance'])
df1

   name marks attendance
0  hari    78         80
1  raju    55         55
2  giri    67         92
3   Raj    44         70

In [155]:
df2 = pd.DataFrame(a,index = [416,434,422,411],
        columns=['name','marks','attendance'])
df2

     name marks attendance
416  hari    78         80
434  raju    55         55
422  giri    67         92
411   Raj    44         70

In [156]:
df2['name']

416    hari
434    raju
422    giri
411     Raj
Name: name, dtype: object

In [159]:
df2[['name']]

     name
416  hari
434  raju
422  giri
411   Raj

In [158]:
df2[['name','marks']]

     name marks
416  hari    78
434  raju    55
422  giri    67
411   Raj    44

In [157]:
df2.columns

Index(['name', 'marks', 'attendance'], dtype='object')

In [166]:
marks_df = pd.read_csv("marks.csv",header=None,
        names=['name', 'marks', 'attendance'])
marks_df

   name  marks  attendance
0  hari     78          80
1  raju     55          55
2  giri     67          92
3   Raj     44          70

In [168]:
marks_df = pd.read_csv("marks.csv",header=None,
        usecols=['name', 'attendance'],
    names=['name', 'marks', 'attendance']  )
marks_df

   name  attendance
0  hari          80
1  raju          55
2  giri          92
3   Raj          70

In [164]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, doublequote=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any \
    object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of
        data rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : list-like or callable, default None
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element
        order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer or callable, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        If a column or index contains an unparseable date, the entire column or
        index will be returned unaltered as an object data type. For non-standard
        datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : boolean, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : boolean, default False
        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [172]:
marks_df1 = pd.read_csv('marks.tsv',sep='\t')
marks_df1

   Name  Marks  Attendance
0  hari     78          80
1  raju     55          55
2  giri     67          92
3   Raj     44          70

In [173]:
marks_df1.shape

(4, 3)